html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
}
main{
    margin-left:250px;
}
footer {
    margin-top: auto;
}
.nav-icons{
    height:35px;
    width:35px;
}
.sidebar {
    margin: 0;
    width: 250px;    
    position: fixed;
    height: 92%;
    overflow: auto;  
    z-index:99 !important;
}
.navbar {
    padding-bottom: 0 !important;
}


/*.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: var(--bs-blue);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/