@model JobPortal.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@{
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand"><img src="~/img/HRLogo.png"  height="35px" /></a>
            <form asp-action="Login" method="post" class="d-flex">
                <div class="me-2 p-1">
                    <input class="form-control" asp-for="UserID" placeholder="User mail">
                    <span class="text-danger" asp-validation-for="UserID"></span>
                </div>
                <div class="p-1">
                    <input class="form-control" asp-for=Password placeholder="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="p-1">
                    <button class="btn btn-primary bg-gradient" type="submit">Login</button>
                    <a type="button" class="btn btn-success bg-gradient" href='@Url.Action("Register")'>Sign Up</a>
                </div>

            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-12 text-center">
            @if (TempData.ContainsKey("StatusMessage"))
            {
                <div class="alert alert-success alert-dismissible fade show " role="alert">
                    @TempData["StatusMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>             
            }
            
            <img src="~/img/jobportalwallpaper.png" class="img-fluid" style="height:calc(100vh - 100px);" />
        </div>
    </div>

}
