@{
    ViewData["Title"] = "Register";
}
<div class="container p-5 ">
    <div class="card w-100">
        <div class="card-header">
            Registration
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 float-start">
                    <a href='@Url.Action("UserRegisteration")' >
                        <img src="~/img/User.png" class="img-thumbnail" />
                    </a>
                </div>
                <div class="col-6 float-end">
                    <a href='@Url.Action("EmployerRegisteration")'>
                        <img src="~/img/company.png" class="img-thumbnail" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

